body {
    background-color: #c0fdfb;
    color: #001F54;
}

.content {
    margin: 40px;
}

h1 {
    font-family: "Noto Sans Buhid", sans-serif;
}

body {
    font-family: "Chocolate Classical Sans", Helvetica, sans-serif;
}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: left;
    gap: 20px;
    margin-left: 20px;
}