body {
    background-color: #FFF8F0;
    color: #001F54;
}

.content {
    margin: 40px;
}

h1 {
    font-family: "Noto Sans Buhid", Helvetica, sans-serif;
}

h2 {
    font-family: "Noto Sans Buhid", Helvetica, sans-serif;
}

body {
    font-family: "Chocolate Classical Sans", Helvetica, sans-serif;
}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
}

a:link {
    color: #57731C;
}

a:visited {
    color: #89B52C;
}

a:hover {
    color: #A8D34A;
}

.cheese {
    display: flex;
}